{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block body %}
    <h1 style="background-color: blue; color: wheat; text-align: center;">All You Need On Rent</h1>
    <div class="row">
        <div class="card col-4 mr-1" style="width: 18rem;">
            <div class="card-body">
              <h3 class="card-title">Computer Software And Hardware&nbsp; <i class="fas fa-mouse"></i></h3>
              <ul>
                <li><a href="/">Pendrives</a></li>
                <li><a href="/">Keyboard</a></li>
                <li><a href="/">UPS</a></li>
                <li><a href="/">PS2 Connectors</a></li>
                <li><a href="/">PC Chargers</a></li>
                <li><a href="/">Mouse</a></li>
                <li><a href="/">Hard Drives</a></li>
              </ul>
            </div>
        </div>  
        <div class="card col-4 mr-1" style="width: 18rem;">
            <div class="card-body">
              <h3 class="card-title">Home&nbsp; <i class="fas fa-home"></i></h3>
              <ul>
                <li><a href="/">Vaccum Cleaner</a></li>
                <li><a href="/">Hire Maid</a></li>
                <li><a href="/">Cylinders</a></li>
                <li><a href="/">Air Conditioners</a></li>
                <li><a href="/">Coolers</a></li>
                <li><a href="/">Fans</a></li>
                <li><a href="/">Heaters</a></li>
                <li><a href="/">Gas Stoves</a></li>
                <li><a href="/">Fridge</a></li>
                <li><a href="/">Geyser</a></li>
              </ul>
            </div>
        </div>      
    </div>
    
{% endblock %}