{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% load static %}
{% block css %}
<style></style>
{% endblock %}
{% block body %}
<div class="container">
    {% if user.0 == "true" %}
        <form id="contactusform" action="/contact_us/" method="POST">{% csrf_token %}
            <h3>Please Tell Us How Could We Help You.</h3>
            <textarea form="contactusform" style="width: 50vw;border-color: red;height: 20vh;display: block; border-radius: 5px;" placeholder="Enter Your Querry Here." name="desc" id="desc"></textarea>
            <input type="submit" class="btn btn-success mt-2" name="submit" id="">
        </form>
    {% else %}
        <h3>Please <a href="/log_in" style="color: blue;">LogIn</a> To Submit Your Issues.</h3>    
    {% endif %}    
</div>
{% endblock %}