{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% load static %}
{% block css %}
<style>
        .card-img-top{
        height: auto;
        width: auto;
        max-height: 80%;
        max-width: 100%;
    }
    .card{
        height: auto;
        border: none;
        background-color: whitesmoke;
        color: black;
        border: solid 2px rgb(80, 4, 80);
        border-radius: 20px;
        box-shadow: 7px 10px 20px #888888;
    }
    .card-body{
        padding: 0;
        margin: 0;
    }
    .col-6, .col-sm-6, .col-lg-3{
        padding: 0;
    }
    .row{
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
    }
    .small{
        display: block;
        color: darkgreen;
    }
    @media only screen and (max-width: 600px){
        .card-img-top{
            height: 158px;
            width: 318px;
            max-height: 80%;
            max-width: 100%;
        }
        .card{
            height: auto;
        }
        .card{
            box-shadow: 4px 5px 10px rgb(80, 4, 80);
        }
    }
</style>
{% endblock %}
{% block body %}
<div class="row">
{% for i in orders %}
<div class="card col-5 col-sm-5 col-lg-3 m-2 p-1" style="width: auto;">
    <img src="/static/img/{{i.poster}}" class="card-img-top" alt="{{i.title}}" style="border-radius: 25px;">
    <div class="card-body mt-1">
        <small class="small">Qty: {{i.quantity}}</small>
        <small class="small">days: {{i.days}}</small>
        <small class="small">Total: ₹{{i.total}}</small>
        <small class="small">Time Left: {{i.time_left|slice:':15'}}</small>
        <a href="/item_view/{{i.product_id}}"><h6 class="card-title w3-center" style="border-radius: 10px;background-color: rgb(80, 4, 80);color: white;">{{i.title}}</h6></a>
    </div> 
</div> 
{% endfor %}
</div>

{% endblock %}